* {
background-color:whitesmoke;
margin: 0;
padding: 0;
font-family: Roboto;
box-sizing: border-box;

}

.main-container{
  height: 70vh;
  width:70vh;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  border: 7px solid green;
  margin-left:32%;
  margin-Top:8%;
  overflow:scroll;
  
}
.header{
  margin-bottom: 50px;
  
}

input{
  height: 40px;
  width: 250px;
  background-color: white;
  margin-top: 20px;
  padding: 20px;
  border-radius: 20px;
  border: 2px solid grey;
 
}

li{
  margin-top: 20px;
  font-size: large;
  list-style-type: none
}

button{
  width:70px;
  height:30px;
  margin-top:20px;
  background-color: green;
  color: white;
  cursor: pointer;
  font-size: SMALL;
  border-radius: 10px;
}